@import "../styles/common.css";
@import "../styles/slkdt.less";

.tmtz{ width: 500px; background: #fff;}
.tmtz_dev {float: left;}
.tmtz_dev li{width: 50%;
  float: left;
  list-style-type: none;
  padding: 5px 0;
  display: inline-block;}
.tmtz_dev div{float: left;}
.tmtz_dev li label{float: left; font-weight: 600; padding-right: 5px; vertical-align: middle;}
.tmtz_dev li input{float: left; padding: 2px 5px; border: 1px solid #eee; vertical-align: middle;}
.tmtz_dev select{float: left; padding: 2px 5px; border: 1px solid #eee;  }
.tmtz_main{width: 100%;}
.tmtz_main li{ width: 100%;}
.tmtz_main li label{font-weight: 600; padding-right: 5px; vertical-align: middle;}
.tmtz_main textarea{ width: 240px; border: 1px solid #eee; resize:none;}



//�������--start
.widget .widget-content {
  padding:20px 10px;
  float: left;
  width: 100%;
  display: inline-block;
}

.custom-tabs-left{
  float: left;
  width: 100%;
}
.custom-tabs-left>.nav-tabs {
  width: 380px;
  float:left;
  margin-right:19px;
  //border-right:1px solid #ccc;
  border-bottom:none;

}
.custom-tabs-left>.nav-tabs>li {
  float:none
}
.custom-tabs-left>.nav-tabs>li a {
  width: 100%;
  border-bottom-left-radius: 2px;
  padding: 10px 0px 10px 10px;
  border-right: 1px solid #CCC;
  border-top-left-radius: 2px;
  float: left;
  display: inline-block;
  min-width: 74px; _min-width: 74px;
}
.custom-tabs-left>.nav-tabs>li a:focus,.custom-tabs-left>.nav-tabs>li a:hover {
  background:#eee;
  border-color:transparent
}
.custom-tabs-left>.nav-tabs .active a,.custom-tabs-left>.nav-tabs .active a:focus,.custom-tabs-left>.nav-tabs .active a:hover {
  border:1px solid #ccc;
  border-right-color:#eee;
  background:#eee;
}

.custom-tabs-left .tab-content {
  padding-top:5px;
  padding-left:370px
}
.tab-content p{ line-height: 35px;}
//�������--end


.contant{ padding: 0px 50px;}
.search-input{padding: 5px 10px; border: 1px solid #ddd; font-size: 15px;}
.button-input{ border: 1px solid #DDD; font-size: 15px;
  color: #FFF;
  background: #337AB7 none repeat scroll 0% 0%;
  margin-left: -5px;
  padding: 3px 5px;
  text-align: center; cursor: pointer;}
.person{top: 70px;
  position: relative;}
//���򻮷�
.area{ width: 100%;}
.area .left{ width: 20%; float: left; border-right: 1px solid #eee;border-right: 1px solid #E5E9F2;
  bottom: 0px;
  font-size: 14px;
  overflow: auto;
  position: absolute;
  top: 40px;
  left: 0px;}
.area .right{ width: 80%;float: right; }
.state{}
.state .view{ display: inline-block; float: left;height: 35px;
  line-height: 35px;}
.state .view span{}
.state .Refresh{ margin-left:80px;  display: inline-block;}
.state-grid{ width: 100%; margin-top: 10px;}
.state-grid ul{ width: 100%; float: left; }
.state-grid ul li{ float: left; border:1px solid #eee; padding: 18px 5px; background: #fff; }
.state-grid ul li .mini-grid{ display: block;}
.state-grid ul li .mini-grid .center{text-align: center;}
.grid-title{ margin: 10px 0;}
.state-grid .list{ width: 100%; float: left;}

.state-grid .list span{width: 120px; float: left; vertical-align: bottom; font-size: 14px;}
.state-grid .list .list-line{ width: 70%; float: left; padding: 12px;}
.clear{ zoom:1;}
.clear:after{ content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }


.right-container {
	margin:0;
}

table {
	border-collapse:collapse;
}
tr,td,th {
	border:none;
}
.wrap {
	border:solid 1px #dddddd;
	margin:10px;
}

.wrap h3 {
	padding:10px;
	font-weight:normal;
	border-bottom:solid 1px #dddddd;
	background:#f5f5f5;
}

.table {
	margin:15px;
}
.table a {
	color:#337ab7;
	text-decoration:none;

}
.table a:hover {
	text-decoration:underline;
}
.table th {
	border:solid 1px #dddddd;
}

.family_section {
	padding:10px;
}

.family_ul {
	width:25%;
	margin:15px;
	border:solid 1px #dddddd;
}
.family_ul li {
	padding-top:10px;
	text-align:center;
	height:30px;
	border-bottom:solid 1px #dddddd;
}
.family_ul li a:hover {
	color:blue;
}
.family_table {
	width:70%;
}

.btnnn {
	display:inline;
	float:left;
	margin-left:10px;
}
.message {
	margin-bottom:10px;
	padding-bottom:10px;
}
.shop th,.shop td{
	border: none !important;
}
.shop tr {
	border-top:solid 1px #dddddd;
}
.lianhao {
	margin-left:20px;
}
.lh_item {
	display:inline;
	float:left;
	margin-right:30px;
}
.lh_item select {
	height:30px;
}
.lh_input {
	height:30px;
}
.panel-footer {
	padding-left:20px;
	padding-bottom:20px;
}
.panel-footer p {
	font-size:12px;
	font-weight:bold;
}
